:root {
  --main-color: rgb(240, 205, 237);
  --secondary-color: black;
  --main-text-color: #a1a1a1;
  --secondary-text-color: white;
  --send-message-form: #F5F5F5;
  --create-room-form: 
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 15px;
  color: var(--main-color);
}

h3{
  text-align: center;
  font-size: 21px;

}
#root {
  height: 100%;
}

.new-room-form {
  grid-area: n;
}

.rooms-list {
  grid-area: r;
}

.message-list {
  grid-area: m;
}

.send-message-form {
  grid-area: f;
}

/* REST OF CSS */
.rooms-list {
  box-sizing: border-box;
  padding: 10px;
  background-color: black;
  overflow: scroll;
  height: 100%;
  
}

.rooms-list > ul {
  list-style-type: none;    
  padding: 0;
  overflow: scoll;
}

.rooms-list li {
  margin: 10px 0;
  font-size: 20px;
  padding: 13px;
  
}

.rooms-list li.room.active {
  margin: 10px 0;
  font-size: 20px;
  padding: 13px;
  background-color: var(--main-color);
  width: 100%;
}

.rooms-list > h3 {
  margin: 5px 0;
  color: var(--secondary-color);
}

.rooms-list .room a {
  color: var(--secondary-text-color);
  font-weight: 600;
  text-decoration: none;
  
 
}

.rooms-list .room.active a {
  color: var(--secondary-color);
  
}

.new-room-form {
  padding: 0 5px;
  background: var(--secondary-text-color);
  color: var(--main-text-color);
}

.new-room-form form {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.new-room-form input {
  width: 135px;
  background: var(--secondary-text-color);
}

.new-room-form button {
  -webkit-appearance: none;
	display: inline-block;
	border: 1px solid #0366EE;
	border-radius: 4px;
	background: #0366EE;
	color: #ffffff;
	font-weight: 600;
	font-family: -apple-system, BlinkMacSystemFont, Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 13px;
	text-transform: none;
	padding: .4rem 0.5rem;
  margin: 0 0 .5rem 0;
  text-align: center;
	cursor: pointer;
	text-decoration: none;
  line-height: 1; 
 
} 

.new-room-form input::placeholder {
  color: var(--main-text-color);
  font-weight: 600;
}

.new-room-form input:focus {
  outline-width: 0;
}

.new-room-form input {
  border: 0;

}

.new-room-form button {
  border: 0;
}

.message {
  margin: 15px 0;
}

.message .message-username {
  font-size: 11px;
  color: var(--main-text-color);
  opacity: 0.9;
  margin-bottom: 6px;
}
.message .message-text {
  background: var(--main-color);
  color: var(--secondary-color);
  display: inline;
  padding: 4px 8px;
  border-radius: 8px;
}

.message-list {
  box-sizing: border-box;
  padding-left: 6px;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background: white;
}

.message-list .join-room {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 34px;
  font-weight: 300;
}

.send-message-form {
  background: black;
  display: flex;
  border-radius: 3px;
}

.send-message-form input {
  width: 100%;
  padding: 15px 10px;
  margin: 0;
  border-style: none;
  background: #f1f1f1;
  font-weight: 200;

}

.send-message-form input:focus {
  outline-width: 0;
}

.send-message-form input::placeholder {
  color: var(--main-text-color);
  border-radius: 3px;
  font-weight: 600;

}

.help-text {
  position: absolute;
  top: 10px;
}